<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<SyrDoorMatsSettingsCategory>Doormats</SyrDoorMatsSettingsCategory>
	
	<!-- Slowdown -->
	<SyrDoorMatsSlowdown>Slowdown strength (default: 40)</SyrDoorMatsSlowdown>
	<SyrDoorMatsSlowdownTooltip>Simulates pawn cleaning their feet by slowing them on doormats, does not affect pathfinding</SyrDoorMatsSlowdownTooltip>
	
	<!-- Animals -->
	<SyrDoorMatsAnimalsAllow>Allow animals to use doormats</SyrDoorMatsAnimalsAllow>
	<SyrDoorMatsAnimalsAllowTip>Note: this may have significant performance impacts</SyrDoorMatsAnimalsAllowTip>
	<SyrDoorMatsAnimalsMinIntelligence>Minimum trainability</SyrDoorMatsAnimalsMinIntelligence>
	<SyrDoorMatsAnimalsIntelligenceToolTip>Allows animals with this trainability level or greater to use doormats.</SyrDoorMatsAnimalsIntelligenceToolTip>
	<SyrDoorMatsAnimalsAll> (All Animals)</SyrDoorMatsAnimalsAll>
	
</LanguageData>